<% provide(:title,"About") %>
<!DOCTYPE HTML>
<html>
    <head>
        <title><%=yield(:title)%> | Ruby on Rails Tutorial Sample App</title>
    </head>
    <body>
        <h1>About Pages#help</h1>
        <p>
            This is About page
        </p>
    </body>
</html>