<% provide(:title,@user.name) %>
<div class="row">
    <aside class="col-md4">
        <section class="user-info">
            <h1>
                <%= gravator_for @user %>
                <%= @user.name %>
            </h1>
        </section>
    </aside>
</div>